<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNET.MVC</title>

    <environment include="Development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AspNET.MVC</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - AspNET.MVC</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("/notificacaoincidente/OnGetSetores", null, function (data) {
                if (data) {
                    $(data).each(function () {
                        $("#setores").append($('<option/>', { value: this.id }).html(this.nome));
                    });
                }
            }, 'json')

            $.post("/notificacaoincidente/OnGetPacientes", null, function (data) {
                if (data) {
                    $(data).each(function () {
                        $("#pacientes").append($('<option/>', { value: this.id }).html(this.nome));
                    });
                }
            }, 'json')
        });

        //$('#selectSetor').click(function () {
        //    //open bootsrap modal
        //    $('#myModal').modal({
        //        show: true
        //    });
        //});

        //$('#submit').click(function () {
        //    var value = $('#searchSetor').val().toUpperCase();

        //    $("#setores").empty();

        //    $.post("/notificacaoincidente/OnGetNomeSetores?nome=" + value, null, function (data) {
        //        if (data) {
        //            $(data).each(function () {
        //                $("#setores").append($('<option/>', { value: this.id }).html(this.nome));
        //            });
        //        }
        //    }, 'json')
        //});

        //$('#teste').click(function () {
        //    document.getElementById("nomeSetor").value = document.getElementById("setores").;
        //    document.getElementById("nomePaciente").value = document.getElementById("pacientes").value;
        //});

        //$('#descricao').keyup(function () {
        //    delay(function () {
        //        getSetores()
        //    }, 1000);
        //});

        //var delay = (function () {
        //    var timer = 0;
        //    return function (callback, ms) {
        //        clearTimeout(timer);
        //        timer = setTimeout(callback, ms);
        //    };
        //})();

    </script>
</body>
</html>
